\target
target\
.project
.metadata
bin/
tmp/
*.jar
*.class
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.launch
*.iml
.idea
dependency-reduced-pom.xml
desktop.ini
advancedregionmarket/target/
